html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
    background-color: rgba(232, 232, 232, 1);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.o-nas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .top {
    background-color: rgba(46, 47, 52, 1);
    margin-bottom: 98px;
    padding: 26px 721px 26px 109px;
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-right: 363px;
  }
  .top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tury {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: rgba(236, 236, 236, 1);
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .tury:not(:last-of-type) {
    margin-right: 84px;
  }
  .title {
    font-family: "Inter";
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 73px;
    margin-left: 871px;
  }
  .about-text {
    max-width: 1756px;
    font-family: "Inter";
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 119px;
    margin-left: 82px;
    letter-spacing: 2.4px;
  }
  .why-block {
    margin-bottom: 100px;
    margin-left: 69px;
    display: flex;
    align-items: flex-start;
  }
  .why-text {
    width: 1290px;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .why-text-emphasis-0 {
    font-family: "Inter";
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2.88px;
  }
  .img1 {
    width: 561px;
    height: 717px;
    margin-top: 21px;
  }
  .info-block {
    display: flex;
    align-items: center;
  }
  .image-transformed-1-1 {
    width: 475px;
    height: 641px;
    margin-right: 21px;
  }
  .kontakty-ne-stesnjajtes-svjazat-sja-s-nami {
    width: 1343px;
    text-align: right;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }