{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "main/css/about.css" %}>
    <title>О нас</title>
</head>
<body>
    <div class="o-nas">
        <div class="top">
          <p><a href="{% url "home" %}" class="logo">ГастроТур</a></p>
          <div class="top-menu">
            <a href="{% url 'tours'%}" class="tury">Туры</a>
            <a href="{% url "aboutus" %}" class="tury">О нас</a>
            <a href="{% url "cart" %}" class="tury">Корзина</a>
          </div>
        </div>
        <p class="title">О нас</p>
        <p class="about-text">
          Добро пожаловать в ГастроТур – место, где кулинарные
          мечты становятся реальностью! Мы – команда увлеченных
          путешественников и гурманов, объединенных любовью к
          вкусной еде и стремлением поделиться с вами самыми
          незабываемыми гастрономическими приключениями.<br />
          Наше агентство предлагает уникальные гастрономические
          туры по всему миру, где каждый путешественник сможет
          открыть для себя новые вкусы и ароматы, погрузиться в
          культуру и традиции разных стран, а также насладиться
          изысканными блюдами от лучших шеф-поваров.
        </p>
        <div class="why-block">
          <p class="why-text">
            <strong class="why-text-emphasis-0"
              >Почему выбирают нас?<br /> </strong
            >Индивидуальный подход: Мы разрабатываем каждое
            путешествие с учетом ваших предпочтений и интересов,
            чтобы вы получили максимум удовольствия и
            впечатлений.<br />
            Опытные гиды: Наши гиды – настоящие знатоки местной
            кухни и культуры, которые проведут вас по самым
            интересным и вкусным маршрутам.<br />
            Безопасность и комфорт: Мы заботимся о вашем комфорте
            и безопасности на каждом этапе путешествия, предлагая
            только проверенные и надежные маршруты и партнеров.<br />
            Эксклюзивные предложения: Мы сотрудничаем с лучшими
            ресторанами, винодельнями и кулинарными школами, чтобы
            предоставить вам уникальные возможности и впечатления.
          </p>
          <img
            alt=""
            class="img1"
            src="{% static "main/img/rightimg.png"%}"
          />
        </div>
        <div class="info-block">
          <img
            alt=""
            class="image-transformed-1-1"
            src="{% static "main/img/leftimg.png"%}"
          />
          <p class="kontakty-ne-stesnjajtes-svjazat-sja-s-nami">
            <strong class="why-text-emphasis-0"
              >Контакты<br /> </strong
            >Не стесняйтесь связаться с нами для получения
            дополнительной информации или бронирования тура. Мы
            всегда рады помочь вам спланировать ваше идеальное
            гастрономическое приключение!<br />
            Телефон: &#43;7 (800) 123-45-67<br />
            Электронная почта: info&#64;gastrotur.com<br />
            Адрес: ул. Примерная, д. 1, Москва, Россия
          </p>
        </div>
      </div>
</body>
</html>